<div class="json-export-component">
  <form action="#">
    <input style="visibility:hidden" id="file" type="file" accept=".csv, .json" @change="onFileChange"></input>
  </form>
  <button><label for="file">Load JSON or CSV file</label></button>
  <p v-if="download"><a :download="name" :href="download">Download JSON file</a></p>
  <p @click.prevent="downloadZip">Generate download</p>

  <div v-if="stats">
    <h2>Stats</h2>
    <p>Total: {{ stats.total }}</p>
    <p>Added: {{ stats.added }}</p>
    <p>Updated: {{ stats.updated }}</p>
  </div>

  <div v-if="data">
    <h2>Export</h2>
    <pre>{{data}}</pre>
  </div>
  <p v-if="error">{{error}}</p>
</div>
